<ion-header [translucent]="true" color = 'primary'>
  <ion-toolbar color = 'primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Weekly Summary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col  id= "subtitle" size = "8">
        <strong>Health Situation in Past 7 Days</strong>
      </ion-col>
      <ion-col class="ion-float-end">
        <div>
          <p style="margin: 0px; margin-right: 1%; text-align: end;">Hello, {{username}}!</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="chart-card">
    <ion-card-header>
      <ion-card-subtitle>Number of Attacks per day for</ion-card-subtitle>
      <ion-card-title>Raynaud Symptom</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
