<ion-header [translucent]="true" color = 'primary'>
  <ion-toolbar color = 'primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "dailyrecords"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Report New Attack
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- (ionChange)="change(datePicker)" -->
<ion-content>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime [(ngModel)]="selectedDate" placeholder="Select Date" ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Time</ion-label>
          <ion-datetime [(ngModel)]="selectedTime" display-format="HH:mm" placeholder="Select Time"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Location</ion-label>
          <ion-select [(ngModel)]="selectedLocation" placeholder="Select Location">
            <ion-select-option value="Inside">Inside</ion-select-option>
            <ion-select-option value="Outside">Outside</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Severity</ion-label>
          <ion-select [(ngModel)]="selectedSeverity" placeholder="Select Severity">
            <ion-select-option [value]=1>1</ion-select-option>
            <ion-select-option [value]=2>2</ion-select-option>
            <ion-select-option [value]=3>3</ion-select-option>
            <ion-select-option [value]=4>4</ion-select-option>
            <ion-select-option [value]=5>5</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color = "primary" (click) = onClickSubmit()>Submit</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
