<ion-header [translucent]="true" color = 'primary'>
  <ion-toolbar color = 'primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "dailyrecords"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Report New Attack
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- (ionChange)="change(datePicker)" -->
<ion-content>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime [(ngModel)]="selectedDate" placeholder="Select Date" ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Time</ion-label>
          <ion-datetime [(ngModel)]="selectedTime" display-format="HH:mm" placeholder="Select Time"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Location</ion-label>
          <ion-select [(ngModel)]="selectedLocation" placeholder="In the room?">
            <ion-select-option value="Inside">Inside</ion-select-option>
            <ion-select-option value="Outside">Outside</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Severity</ion-label>
          <ion-range [(ngModel)]="selectedSeverity" min=1 max=10 step=1 name="selectedSeverity" ticks="true" snaps="true" pin="true" >
            <ion-label slot="start">1</ion-label>
            <ion-label slot="end">10</ion-label>
          </ion-range>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color = "primary" (click) = onClickSubmit()>Save</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
