<ion-header [translucent]="true" color = 'primary'>
  <ion-toolbar color = 'primary'>
    <ion-title size-md = "small">
      Report It!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Hello! {{username}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" [routerLink]="['/dailyrecords']">Report Attacks</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" [routerLink]="['/weeklysummary']">Weekly Summary</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
