<ion-header [translucent]="true" color = 'primary'>
  <ion-toolbar color = 'primary'>
    <ion-title size-md = "small">
      Report It!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-float-end">
        <div>
          <p style="margin: 0px; margin-right: 1%; text-align: end;">Hello, {{username}}!
            <a color = "primary" [routerLink]="['/login']" (click) = "onClickLogout()" style="text-decoration: none;">Log out</a>
          </p>
          
        </div>
      </ion-col>
    </ion-row>
    <ion-img src="..\assets\image\keeping-warm.jpg"></ion-img>
    <ion-row>
      <ion-col>
        <div>
          <p>Raynaud's disease is usally a self-diagnosable disease. People may experience sensitivity to cold, lack of blood supply, pallor, or reduced sensation of touch.</p>
        </div>
        <div>
          <p>You could diagnose and record this disease by the following phenomenon: The fingers, toes, ears, and tip of the nose are commonly involved and feel numb and cool in response to cold temperatures or stress. It's often accompanied by changes in the color of the skin.</p>
        </div>
        <div>
          <p>Recording your symptoms by time, location and severity are matter for doctors!</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" [routerLink]="['/dailyrecords']">Report Attacks</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" [routerLink]="['/weeklysummary']">Weekly Summary</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
